In [1]:
import numpy as np 
import pandas as pd

movies = pd.read_csv("../data/raw/movies.csv")
ratings = pd.read_csv("../data/raw/ratings.csv")

movies.head()
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
print("Number of user:", ratings['userId'].nunique())
print("Number of movies:", movies["movieId"].nunique())
print("Number of ratings:", len(ratings))

Number of user: 610
Number of movies: 9742
Number of ratings: 100836

In [4]:
df = pd.merge(ratings, movies, on='movieId')
top_popular = (df.groupby('title')['rating']
               .count()
               .sort_values(ascending=False)
               .head(10))
print(top_popular)

title
Forrest Gump (1994)                          329
Shawshank Redemption, The (1994)             317
Pulp Fiction (1994)                          307
Silence of the Lambs, The (1991)             279
Matrix, The (1999)                           278
Star Wars: Episode IV - A New Hope (1977)    251
Jurassic Park (1993)                         238
Braveheart (1995)                            237
Terminator 2: Judgment Day (1991)            224
Schindler's List (1993)                      220
Name: rating, dtype: int64